/*
	Put anything you reference with "url()" in ../assets/
	This way, you can minify your application, and just remove the "source" folder for production
*/
.nice-padding {
	padding: 15px;
}

.enyo-google-earth {
  height: 100%;
  width: 100%;
}

.settings {
	padding: 10px;
}

.settings > * {
	padding: 10px;
	min-height: 30px;
	line-height: 30px;
}

.settings > * > * {
	display: inline-block;
}

.labeled-item-icon {
	vertical-align: bottom;
	padding-right: 5px;
}

.label-item-input {
	float: right;
}

.item.onyx-selected {
	background-color: #226B9A;
}

.item {
	position: relative;
	border-bottom: 1px solid #0E0E0E;
	padding: 16px 12px;
	background-color: #eaeaea;
	color:black;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 12px;
}

.search-input{
	width: 85%;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}